@keyframes move{
    from {
        transform: translateY(3px);
    }
    to {
        transform: translateY(-3px);
    }
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
}
#salary {
    margin-right: 10px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(221, 221, 221);
}
#image {
    border-radius: 20px;
    display: flex;
    max-width: 500px;
    max-height: 300px;
}
#btn {
    all: unset;
    background-color: rgba(14, 148, 14, 0.589);
    padding: 8px 30px 8px 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: background-color 0.5s;
    border: 2px solid white;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
}

#btn:hover {
    background-color: rgb(14, 139, 14);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.discript {
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 80px;
    border-radius: 30px;
    background-color: black;
    border: 2px solid white;
}

.contents_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-weight: 600;
    color: white;
}

.salary_box {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
}

.salary_result {
    padding: 1.5rem;
}

.index {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    animation: move 1s infinite alternate linear;
}

.salary_result {
    font-size: 40px;
}

.subIndex {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    color: rgb(17, 17, 160);
    letter-spacing: 2px;
    margin-bottom: 50px;
}

footer {
    padding: 50px;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    text-align: center;
}

.tip {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 30px;
}

.errtip {
    color: rgb(199, 18, 18);
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 30px;
}